* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 14px;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;        
}

/* Ajustando o conteúdo ao centro da página */
body {
    display: flex;
    justify-content: center;
    align-items: center;    
    height: 100vh;
    
}

/* Contém o número e operações */
#teclado {
    display: grid;
    grid-template-columns: repeat(4, 1fr);    
    grid-gap: 1px;                  
    width: 100%;  
    height: 84%;    
}

/* Está como container para toda calculadora */
#calculadora {                
    width: 300px;    
    height: 330px;    
    padding: 5px;
    background-color: rgb(218, 218, 221);        
    box-shadow: 0 0 5px #000;           
}

/* estilização do botões */
#teclado input {
    padding: 10px;
    font-size: 14px;
    border: none;
}

/* Alteração da cor ao passar o mouse sobre os botões */
#teclado input:hover {
    background-color: rgb(182, 182, 182);
}

/* Visor no qual irão aparecer as operações realizadas */
#visor {
    padding: 7px;    
    margin-bottom: 5px;
    font-size: 30px;
    text-align: right;        
    background-color: rgb(240, 240, 241);
    height: 15%;
    width: 100%;
}

/* Deixar o botão de igual com estilização uníca */
#igual {
    background-color: lightblue;
}

input#igual:hover {
    background-color: rgb(112, 187, 212);
}

.btn {
    background-color: white;
}

/* Media Queries */

@media (max-width: 300px) {
    #calculadora {                
        width: 100%;    
        height: 100%;                            
    }

    #teclado {
        display: grid;
        grid-template-columns: repeat(4, 1fr);    
        grid-gap: 1px;                  
        width: 100%;  
        height: 79%;    
    }

    #visor {        
        height: 20%;
        width: 100%;
    }
}